In [1]:
import pandas as pd
import numpy as np

In [2]:
inputs = r'C:/Users/pawanc/Desktop/retailAnalytics/retailChurnAnalytics/inputs/'

In [3]:
usrData = pd.read_csv(inputs+'userData.csv')
usrData.head()

    UserId  Age Address       Gender UserType
0   204041   36       M        Value       ME
1  1643825   24       F        Value       FL
2  1813716   20       F         Fast       CA
3  2099461   26       M  Inspiration       GA
4   303768   20       F         Fast       CA